<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" role="navigation">
            <ul class="nav nav-sidebar">
                <li><a ng-href="#/magazine/new"><b>Nuovo</b></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li ng-repeat="(key, m) in magazines" ng-style="{'background-color':m.color}" >
                    <a ng-click="openDetail(key)">{{m.number}} - {{m.publish_date}}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="selectedId">
            <div class="page-header">
                <h1>{{magazines[selectedId].number}} <small>{{magazines[selectedId].publish_date}}</small></h1>
            </div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Abstract:</h3>
                        <p>{{magazines[selectedId].abstract[language]}}</p>
                        <h3>Content:</h3>
                        <p>{{magazines[selectedId].content[language]}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button ng-repeat="(key, value) in magazines[selectedId].abstract" class="btn btn-default">
                                <i class="flag flag-{{key}}"></i>
                            </button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button data-toggle="modal" data-target="#deleteMagazineDialog" type="button" class="btn btn-default" title='Elimina'><i class="fa fa-trash"></i></button>
                            <a ng-href='#/magazine/edit/{{selectedId}}' class="btn btn-default" title='Modifica'><i class="fa fa-pencil-square-o"></i></a>
                            <button type="button" class="btn btn-danger">Pubblica</button>
                        </div>
                    </div>
                </div>
                 <!-- Modal -->
                <div class="modal fade" id="deleteMagazineDialog" tabindex="-1" role="dialog" aria-labelledby="lbDeleteMagazine" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="lbDeleteMagazine">Eliminazione Techmate</h4>
                            </div>
                            <div class="modal-body">
                                <p>Vuoi veramente eliminare il magazine selezionato?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteMagazine(selectedId)">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Modal -->
            </div>
        </div>
    </div>
</div>
