<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" role="navigation">
            <ul class="nav nav-sidebar">
                <li><a ng-href="#/magazine/new"><b>Nuovo</b></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li ng-repeat="(key, m) in magazines" ng-style="{'background-color':m.color}" >
                    <a href="" ng-click="openDetail(key)">{{m.number}} - {{m.publish_date}}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="selectedId != null">
            <div class="row">
                <div class="page-header col-md-6">
                    <h1>{{magazines[selectedId].number}} <small>{{magazines[selectedId].publish_date}}</small></h1>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" ng-repeat="l in languages" ng-click="changeLanguage(l)" class="btn btn-default">{{l}}</button>
                </div>
            </div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Abstract:</h3>
                        <p>{{magazines[selectedId].abstract[language]}}</p>
                        <h3>Content:</h3>
                        <p>{{magazines[selectedId].content[language]}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button data-toggle="modal" data-target="#deleteMagazineDialog" type="button" class="btn btn-default" title='Elimina'><i class="fa fa-trash"></i></button>
                            <a ng-href='#/magazine/edit/{{selectedId}}' class="btn btn-default" title='Modifica'><i class="fa fa-pencil-square-o"></i></a>
                            <button data-toggle="modal" data-target="#publishMagazineDialog" type="button" class="btn btn-danger">Pubblica</button>
                        </div>
                    </div>
                </div>
                 <!-- Modal -->
                <div class="modal fade" id="deleteMagazineDialog" tabindex="-1" role="dialog" aria-labelledby="lbDeleteMagazine" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="lbDeleteMagazine">Eliminazione Techmate</h4>
                            </div>
                            <div class="modal-body">
                                <p>Vuoi veramente eliminare il magazine selezionato?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteMagazine(selectedId)">Elimina</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Modal -->
                <!-- Modal -->
                <div class="modal fade" id="publishMagazineDialog" tabindex="-1" role="dialog" aria-labelledby="lbPublishMagazine" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="lbPublishMagazine">Pubblicazione Techmate</h4>
                            </div>
                            <div class="modal-body">
                                <p>Pubblicare il magazine selezionato?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="publish(selectedId)">Pubblica</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Modal -->
            </div>
            
            <div class="row">
                <h2 class="sub-header">Articoli<a href="#/article/new/{{selectedId}}" class='btn btn-default btn-md pull-right' title='Add article'><i class="fa fa-plus"></i> Aggiungi un articolo</a></h2>
                
                <div ng-repeat="a in articles">
                    <div class="row article">
                        <div class="col-md-12">
                            <h3>{{ a.number }}
                                {{ a.title[language] }}<br />
                                <small> {{ a.subtitle[language] }}</small>
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="article_text" ng-bind-html="a.text[language]"></div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <img ng-repeat="img in a.images" ng-src='Images/{{ img }}' style='max-height: 100px; max-width: 100px; margin: 3px;' />
                                </div>
                                <div>
                                    <ul>
                                        <li ng-repeat="att in a.attachments"><a href="{{ att }}">{{ att }}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <p>{{ a.section }}</p>
                                <p><a href='{{ a.link }}'>Link to the original article</a></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>Edited by <i>{{ a.author }}</i></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <!--<button data-toggle="modal" data-target="#deleteArticleDialog" class='btn btn-default btn-lg' title='Delete article'><span class='glyphicon glyphicon-trash'></span></button>-->
                                <a ng-href="#article/edit/{{a.magazine}}/{{a.number}}" class='btn btn-default' title='Edit article'><span class='fa fa-pencil-square-o'></span></a>
                                <!--<a ng-href="#read/{{a.id}}" class='btn btn-default btn-lg' title='Read'><span class='glyphicon glyphicon-eye-open'></span></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
