<!DOCTYPE html>
<div class="container-fluid">
    <h1 class="page-header">Invia una notifica</h1>
    
    <form novalidate class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Titolo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="text" class="col-sm-2 control-label">Testo</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-12 text-right">
                <a href="#/" class="btn btn-default">Annulla</a>
                <button class="btn btn-danger">Invia</button>
            </div>
        </div>
    </form>
</div>
